@model  PackagesManagement.Models.Packages.PackagesListViewModel
@using PackagesManagement.Controllers
@{
    ViewData["Title"] = "Manage packages";
}

    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Delete</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Name</th>
                        <th scope="col">Duration/days</th>
                        <th scope="col">Price</th>
                        <th scope="col">Availble from</th>
                        <th scope="col">Availble to</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach(var package in Model.Items)
                    {
                    <tr>
                        <td>
                            <a asp-controller="ManagePackages"
                               asp-action="@nameof(ManagePackagesController.Delete)"
                               asp-route-id="@package.Id">
                                delete
                            </a>
                        </td>
                        <td>
                            <a asp-controller="ManagePackages"
                               asp-action="@nameof(ManagePackagesController.Edit)"
                               asp-route-id="@package.Id">
                                edit
                            </a>
                        </td>
                        <td>
                            @package.DestinationName
                        </td>
                        <td>
                            @package.Name
                        </td>
                        <td>
                            @package.DurationInDays
                        </td>
                        <td>
                            @package.Price
                        </td>
                        <td>
                            @(package.StartValidityDate.HasValue ?
                                package.StartValidityDate.Value.ToString("d")
                                :
                                String.Empty)
                        </td>
                        <td>
                            @(package.EndValidityDate.HasValue ?
                                package.EndValidityDate.Value.ToString("d")
                                :
                                String.Empty)
                        </td>

                    </tr>

                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" asp-controller="ManagePackages"
              asp-action="@nameof(ManagePackagesController.Create)">
            New package
        </a>
    </div>
